<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <div id="importHead"></div>

    <script src="../partials/head.js"></script>

    <link rel="stylesheet" href="../../../public/style/home.css">
    <title>Fabrica de Delícias</title>
</head>

<body>
    <div id="importNavbar"></div>
    <script src="../partials/navbar.js"></script>
    <script src="../../../public/navbar.js"></script>

    <main>
        <div class="page-header">
            <div class="page-header-text-wrapper">
                <h1 class="hero">Fábrica de Delícias</h1>
                <h2 class="heading">Sonhos gelados feitos com amor</h2>
            </div>
            <picture class="page-header-image-wrapper">
                <img src="../../../public/assets/index_banner.jpg" alt="foto de sorvete">
            </picture>
        </div>
        <article class="icecream-list-wrapper content-wrapper-size">
            <h1 class="heading">Lançamentos Recentes</h1>

            <div class="card-list" id="home-products">
                <!-- Gerado pelo script index.js -->
            </div>

            <a href="../products.html" class="btn-primary">ver mais sorvetes</a>
        </article>

        <article class="about-wrapper">
            <picture>
                <img src="../../../public/assets/icecreams/home_about_icecream.jpg" alt="">
            </picture>
            <div class="text-wrapper">
                <h1 class="heading">Sobre nós</h1>
                <p class="text-regular">Na Fábrica de Delícias, acreditamos que cada sabor tem o poder de despertar
                    memórias e criar novos momentos especiais. Produzimos nossos sorvetes com ingredientes selecionados,
                    muito carinho e um toque de criatividade que transforma o simples em inesquecível. </p>
                <p class="text-regular">Aqui, cada receita é pensada para encantar desde a primeira colherada até o
                    último pedacinho. Nosso compromisso é entregar qualidade, frescor e um atendimento que faz você se
                    sentir em casa.</p>
                <a href="../about.html" class="btn-primary">Saiba mais</a>
            </div>
        </article>

        <article class="shop-wrapper" id="home-shop">
            <!-- Gerado pelo script index.js -->
        </article>
    </main>

    <footer></footer>

    <script src="../partials/footer.js"></script>

</body>

<!-- Carrega script de renderização -->
<script type="module" src="./index.js"></script>

</html>