<main class="form-wrapper">
    <div class="form-container">
        <header class="flex-row flex-center">
            <h1 class="heading">Tem certeza?</h1>
        </header>
        <div class="content-wrapper-size flex-column flex-center">
            <p class="text-regular" id="deleteMessage">Você está prestes a excluir <strong id="itemName"></strong>. Esta ação não pode ser desfeita.</p>
            <button id="cancelBtn" class="btn-primary">Cancelar</button>
            <button id="confirmDeleteBtn" class="btn-danger-ghost">Excluir</button>
        </div>
    </div>
</main>